.App {
  text-align: center;
}

.container-form {
  background-color: blue;
  display:grid;
  justify-content: center;
  
}

input {

  text-align: center;
}

button { 
  display: grid;
  justify-content: center;
}


